@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/font/jakarta.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("/font/dmsans.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope", sans-serif;
  src: url("/font/manrope2.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/font/opensans.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'ui-sans-serif', 'system-ui';
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 400;
  background-color: #ffffff;
  color: #86898e;
  min-height: 100vh;
  width: 100%;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
